body {
    font-family: Arial, sans-serif;
    text-align: center;
}

button {
    margin-top: 10px;
}

.title-app {
    margin-top: 20px;
}

.chart-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

canvas {
    max-width: 1000px;
    max-height: 400px;
    width: 100%;
    height: auto;
}

#eventoForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 0 auto;
}

.input-group {
    width: 100%;
}

.input-group-text {
    width: 80px;
    text-align: center;
}

.form-control {
    width: 100%;
    max-width: 400px;
}
